html, body {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-start;
     text-align: center;
     
     overflow: visible;
     font-family: 'cuteFont', sans-serif;
     width: 100%;
     height: 100%;
     margin: 0;
     padding: 0;
     background-color: #90D5FF;
     color: #ffffff;
 }

@font-face {
  font-family: 'cuteFont';
  src: url('./BubblegumSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*Scrolls & quests*/
.scroll-container, .quest-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    
    height: 400px;
    max-height: 500px;
    
    gap: 15px;
    padding: 20px;
    border: 2px dashed #ffffff;
}

.mainScrollQuestArea {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
}

button {
     justify-content: center;
     align-items: center;
     text-align: center;
     
     background-color: #6693F5; /*button bck color*/
     color: #CAF0F8; /*button text color*/
     border: 2px solid #131E3A; /*outline color*/
     padding: 10px;
     cursor: pointer;
     border-radius: 8px;
     transition: transform 0.2s;
     
     min-width: 150px;
}

button:hover {
    background-color: #bcaefa;/*button when hovered bck color*/
    transform: scale(1.1);
    box-shadow: 0 0 10px #131E3A;
}
