html, body {
     overflow: visible;
     font-family: 'cuteFont', sans-serif;
     width: 100%;
     height: 100%;
     margin: 0;
     padding: 0;
     background-color: #90D5FF;
     color: #ffffff;
 }

@font-face {
  font-family: 'cuteFont';
  src: url('./BubblegumSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*Scrolls & quests*/
.scroll-container, .quest-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    
    height: 400px;
    max-height: 500px;
    
    gap: 15px;
    padding: 20px;
    border: 2px dashed #ffffff;
}

button {
    background-color: #6693F5; /*button bck color*/
    color: #CAF0F8; /*button text color*/
    border: 2px solid #131E3A; /*outline color*/
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.2s;
}

button:hover {
    background-color: #bcaefa;/*button when hovered bck color*/
    transform: scale(1.1);
    box-shadow: 0 0 10px #131E3A;
}
